<mat-grid-list cols="4" rowHeight="50px">
  <mat-grid-tile [colspan]="4" [rowspan]="1" style="background-color : #408281;">
    <div style="position : absolute; left : 10px; color : white; font-size: 18px;">SimplexMart</div>
    <div style="position : absolute; right : 10px; font-size: 15px; display : inline;">
      <div style="display : inline; padding-right : 30px;">
          <button mat-button style="color : white;">Log In</button>
      </div>
      <div style="display : inline; padding-right : 30px;">
          <button mat-button style="color : white;">Sign Up</button>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" style="background-color : #63E8EF;">
    <!-- <button mat-button *ngFor="let tile of titles" style="color : #052746;">
        {{ tile }}
    </button>-->
    <div *ngFor="let tile of titles" style="padding : 20px;">
        <a style="color : #052746; padding : 20px; text-decoration : none; cursor:pointer">
            {{ tile }}
        </a>
    </div>
    
  </mat-grid-tile>

</mat-grid-list>